@import 'src/variables.scss';

.textbox {
  font-size: $font-size;
  color: $primary-font-color;
  font-family: $main-font;
  background-color:  transparent;
  caret-color: $primary-color;
  outline: none;
  border: none;
  // border-bottom: 1px solid transparent;
  // animation-name: blinking;
  // animation-duration: 2s;
  // animation-iteration-count: 3;

  // &:hover {
  //   border-bottom: 1px solid $primary-color;
  //   }

  // @keyframes blinking {
  //   50% {
  //     border-color: $primary-color;
  //   }
  // }
}
