@import 'src/variables.scss';

.todoList{
  height: auto;
  max-width: 35rem;
  margin: auto;
  // top: 5rem;
  
  // left:-webkit-calc(100% - 350px);
  // left:-moz-calc(100% - 350px);
  // left:calc(100% - 70rem);
}

.todoTtitle{
  margin-bottom: 3rem;
}

.noteEditor{
  margin-bottom: 3rem;
}

