@import 'src/variables.scss';

$menu-font-size: 0.9rem;

.filterSection {
  display: flex !important;
  min-width: 10rem;
  align-items: center;
  justify-content:space-between;
  font-size: $menu-font-size;
}

.radioButton {
  display: flex !important;
  min-width: 1rem;
  align-items: center;
  justify-content: center;
  font-size: $menu-font-size !important;
}
