@import 'src/variables.scss';

.button {
  color: $secondary-font-color;
  cursor: pointer;
  font-family: $main-font;
  display: block;
  font-size: 16px;
  
&:hover {
  color: rgb(80, 80, 80);
  }
}
