@import 'src/variables.scss';

.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgb(208 235 135);
  z-index: -1;
}

.backgroudImage{
  position: fixed;
  top: 0;
  mask-image:-webkit-gradient(linear, left top, left bottom, from(rgb(0 0 0 / 100%)), to(rgb(0 0 0 / 0%)));
  mask-image: linear-gradient(to bottom, rgb(0 0 0 / 100%), rgb(0 0 0 / 0%));
  background-image: url('~/public/nature.jpg');
  width: 100vw;
  height: 20rem;
}

.page {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.main {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.organism {
  border-left: 1rem transparent solid;
  border-right: 1rem transparent solid;
  margin: auto;
  height: 100vh;
  max-width: 30rem;
  position: relative;
  top: 3rem;
}

.title {
  height: 4rem;
  font-size: 3rem;
}

.editor {
  height: 2rem;
  background-color: azure;
  margin: 2rem 0;
}

.listContainer {
  position: relative;
  background-color: azure;
  max-height: calc(100% - 13rem);
}

.scrollableArea {
  position: relative;
  max-height:  calc(100vh - 18.2rem);
  overflow: auto;
}

.scrollableArea::-webkit-scrollbar {
  display: none;
}

.item {
  height: 2rem;
  border-bottom: gray solid 1px;
}

.menuItem {
  height: 2rem;
}

.dragLabel {
  height: 4rem;
  background-color:azure;
}

.checkboxArea{
  font-size: 1.5rem !important;
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 100%;
  
}

.checkboxPosition{
  position: relative;
  margin: auto;
  width: 50%;
  top: calc(50% - 1.5rem/2);
}

.labelPosition{
  position: relative;
  margin: auto;
  width: 50%;
  top: calc(50% - 1.5rem/2);
}


