@import 'src/variables.scss';

.checkbox_base{
  cursor: pointer;
  font-size: $font-size !important;
  //border: black solid 1px;
  // max-height: $font-size;
}

.checkbox_colored {
  background: -webkit-linear-gradient($primary-color, #e058ec);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.checkbox_checked {
  @extend .checkbox_base;
  @extend .checkbox_colored;
}

.checkbox_unchecked {
  @extend .checkbox_base;
  color: $inactive-color;

  &:hover {
    @extend .checkbox_colored;
    }
}
